<body >
    <header>
      <nav class="nav bg-dark navbar-expand-lg">
        <a class="navbar-brand text-light text-decoration-none pt-2 ps-4">
          Office Resources and Management Assistant
        </a>
        <ul
          class="navbar-nav text-light bg-dark ms-auto"
          style="flex-direction: row"
        >
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="info" name="info"> General Info </a>
        </li>
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="userPortal" name="userPortal" href="/userPortal"> Dashboard </a>
        </li>
        <li class="nav-item ps-0">
            <a class="nav-link active ps-3 pe-2" id="index" name="index" href="/"> Home </a>
          </li>
          <li class="nav-item ps-3 pe-2">
            <a class="nav-link active" id="logout" name="logout" href="/logout"> Logout </a>
          </li>
        </ul>
      </nav>
    </header>
        <section>
            <form
            class="form-outline rounded p-5"
            style="margin: 2rem auto 2rem auto;"
            action="/matters"
            method="POST"
            >
            <h1 style="font-size: 130%">Add a new matter</h1>
            <div class="form-floating">
              <input
                type="number"
                id="matterNum"
                class="form-control mb-4"
                placeholder="####"
                name="matterNum" 
                
              />
              <label for="matterNum"  class="text-left"> Matter No.:</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                placeholder="Add a memo (optional)"
                name="notes" 
                id="notes"
                rows="3"
              />
              <label class="form-label text-left" for="notes"
                >Notes:</label
              >
            </div>
        
        <button class="btn bg-info text-light justify-content-center" style="display: flex; margin: 1rem auto 0rem auto;" type="submit">
            Save Matter
        </button>  
        </form>     
    </section>
         <% for(var i=0; i<matters.length; i++) { %>
            <table class="table table-dark" style="width: 70%; margin: 0 auto;" > 
            <thead> 
                <tr class="table-active">   
                    <th scope="col">Matter No.</th>
                    <th scope="col"> CFA Signed: </th>
                    <th scope="col"> Statement of Claim Filed: </th>
                    <th scope="col"> Statement of Claim Served: </th>
                    <th scope="col"> Statement of Defence Served: </th>
                    <th scope="col"> Aff of Records Served: </th>
                    <th scope="col"> Producibles Sent:</th>
                    <th scope="col"> Questioning of Client Completed: </th>
                    <th scope="col"> Undertakings Remaining:</th>
                </tr>
            </thead>
            <tbody>
                <tr>  
                <th scope="row"><%= matters[i].matter_number %> </th>
                    <td><%= matters[i].cfa_signed %></td>
                    <td><%= matters[i].statement_of_claim_filed %></td>
                    <td><%= matters[i].s_of_c_served %></td>
                    <td><%= matters[i].s_of_d_served %></td>
                    <td><%= matters[i].aff_of_recs_served %></td>
                    <td><%= matters[i].producibles_sent %></td>
                    <td><%= matters[i].questioning_done %></td>
                    <td><%= matters[i].undertakings_remaining %></td>
                </tr>
                <tr> 
                <th scope="row"> Memo:  </th>
                    <td colspan="8"><textarea id="<%= matters[i].matter_number %>" name="<%= matters[i].matter_number %>" style="width: 100%;"> <%= matters[i].notes %> </textarea> </td>
                </tr>
            </tbody>
            <% } %>
        </table>
        </section>
    <div class="wrapper">

    </div>
     
    <footer class="footer">
      <div class="footer-header">
        Quicklinks for Filing Documents
      </div>
      <div class="push"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="nav-link active" href="https://qb-filing.alberta.ca/">
              Alberta Court of Queen's Bench Digital Filing
            </a>
          </div>
          <div class="col">
            <a class="nav-link active" href="https://cams.albertacourts.ca/public-portal/?q=node/403">
            Alberta Court of Appeal Cams Digital Filing
          </a>
          </div>
          <div class="col">
            <a class="nav-link active" href="https://surrogate.alberta.ca/">
            Alberta Queen's Bench (Surrogate) Digital Filing 
          </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

  </body>

</html>