<body >
    <header>
      <nav class="nav bg-dark navbar-expand-lg">
        <a class="navbar-brand text-light text-decoration-none pt-2 ps-4">
          Office Resources and Management Assistant
        </a>
        <ul
          class="navbar-nav text-light bg-dark ms-auto"
          style="flex-direction: row"
        >
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="info" name="info"> General Info </a>
        </li>
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="userPortal" name="userPortal" href="/userPortal"> Dashboard </a>
        </li>
        <li class="nav-item ps-0">
            <a class="nav-link active ps-3 pe-2" id="index" name="index" href="/"> Home </a>
          </li>
          <li class="nav-item ps-3 pe-2">
            <a class="nav-link active" id="logout" name="logout" href="/logout"> Logout </a>
          </li>
        </ul>
      </nav>
    </header>
        <section class="section-responsive">
            <form
            class="form-outline rounded p-5 form-width-matters"
            style="margin: 2rem auto 2rem auto;"
            action="/matters"
            method="POST"
            >
            <h1 style="font-size: 130%">Add a new matter</h1>
            <div class="form-floating">
              <input
                type="number"
                id="matterNum"
                class="form-control mb-4"
                placeholder="####"
                name="matterNum" 
                
              />
              <label for="matterNum"  class="text-left"> Matter No.:</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                placeholder="Add a memo (optional)"
                name="notes" 
                id="notes"
                rows="3"
              />
              <label class="form-label text-left" for="notes"
                >Notes:</label
              >
            </div>
        
        <button class="btn bg-info text-light justify-content-center" style="display: flex; margin: 1rem auto 0rem auto;" type="submit">
            Save Matter
        </button>  
        </form>     
    </section>
    <section class="section-responsive">
         <% for(var i=0; i<matters.length; i++) { %>
            <form method="POST"  class="d-flex justify-content-center form-width" style="margin: 0 auto 1rem auto; max-width: 100%; font-size:small">
                <div class="grid-container-matters mb-2 justify-content-center narrow-grid" style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 100%; box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;" >
                   
                        <div class="hd-1 bg-dark text-light" > <p style="margin: 5px 0 0 5px">Matter No. </p></div>
                        <div class="hd-2 bg-dark text-light" > <p style="margin: 5px 0 0 5px">CFA Signed: </p></div>
                        <div class="hd-3 bg-dark text-light" > <p style="margin: 5px 0 0 5px">S of C Filed: </p></div>
                        <div class="hd-4 bg-dark text-light" > <p style="margin: 5px 0 0 5px">S of C Served: </p></div>
                        <div class="hd-5 bg-dark text-light" > <p style="margin: 5px 0 0 5px">S of D Served: </p></div>
                        <div class="hd-6 bg-dark text-light" > <p style="margin: 5px 0 0 5px">Aff of Recs Served: </p></div>
                        <div class="hd-7 bg-dark text-light" > <p style="margin: 5px 0 0 5px">Producibles Sent:</p></div>
                        <div class="hd-8 bg-dark text-light" > <p style="margin: 5px 0 0 5px">Questioning Done: </p></div>
                        <div class="hd-9 bg-dark text-light" > <p style="margin: 5px 0 0 5px">Undertakings: </p></div>
                    
                                    
                        <div class="val-1 bg-dark text-light" style="outline: solid 1px; text-align: center; justify-items: center;">
                          <p class="center-grid-cell" style="margin-left: 0";> <%=matters[i].matter_number %>  </p>
                        </div>
                        <div class="val-2">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="cfa_signed" name="cfa_signed">
                                <option value="<%= matters[i].cfa_signed %>"><%= matters[i].cfa_signed %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <div class="val-3">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="statement_of_claim_filed" name="statement_of_claim_filed">
                                <option value="<%= matters[i].statement_of_claim_filed %>"><%= matters[i].statement_of_claim_filed %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <div class="val-4">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="s_of_c_served" name="s_of_c_served">
                                <option value="<%= matters[i].s_of_c_served %>"><%= matters[i].s_of_c_served %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <div class="val-5">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="s_of_d_served" name="s_of_d_served" >
                                <option value="<%= matters[i].s_of_d_served %>"><%= matters[i].s_of_d_served %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <div class="val-6">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="aff_of_recs_served" name="aff_of_recs_served">
                                <option value="<%= matters[i].aff_of_recs_served %>"><%= matters[i].aff_of_recs_served %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <div class="val-7">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="producibles_sent" name="producibles_sent">
                                <option value="<%= matters[i].producibles_sent %>"><%= matters[i].producibles_sent %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                        <div class="val-8">
                            <select class="bg-dark text-light drop-dwn-pos" style="min-width: 100%; min-height: 100%; outline: solid 1px;" id="questioning_done" name="questioning_done">
                                <option value="<%= matters[i].questioning_done %>"><%= matters[i].questioning_done %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
             
                        <div class="val-9 bg-dark text-light" style="min-height: 100%;"> 
                        <input class="bg-dark text-light" style="outline: solid 1px; text-align: center; min-height: 100%; width: 100%" type="number" value="<%= matters[i].undertakings_remaining %>" placeholder="<%= matters[i].undertakings_remaining %>" id="undertakings_remaining" name="undertakings_remaining"/>
                      </div>
                          
                        <div class="bg-dark text-light memo" style="outline: solid 1px;"><p class="center-grid-cell"> MEMO: </p> </div> 
                      
                        <textarea class="notes text" id="notes" name="notes" style="outline: solid 1px; width: 100%; font-family: Helvetica; resize: none;"> <%= matters[i].notes %> </textarea> 
                              
                
                    <div class="btn-matters btn-swap" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;">
                      <input type="hidden" name="_method" value="PUT"/>
                      <button formaction="/matters/update/<%= matters[i].id %>" class="btn-details btn-half-height"> Update </button>
                      <button formaction="/matters/delete/<%= matters[i].id %>" class="btn-details btn-half-height"> Delete </button>
                    </div>
                </form>
              </div>
                <% } %>
        </section>
    <div class="wrapper">

    </div>
     
    <footer class="footer">
      <div class="footer-header">
        Quicklinks for Filing Documents
      </div>
      <div class="push"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="nav-link active" href="https://qb-filing.alberta.ca/">
              Alberta Court of Kings's Bench Digital Filing
            </a>
          </div>
          <div class="col">
            <a class="nav-link active" href="https://cams.albertacourts.ca/public-portal/?q=node/403">
            Alberta Court of Appeal Cams Digital Filing
          </a>
          </div>
          <div class="col">
            <a class="nav-link active" href="https://surrogate.alberta.ca/">
            Alberta Kings's Bench (Surrogate) Digital Filing 
          </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

  </body>